version: '3.9'

services:
  php:
    image: gabrieltva/php-fpm-node:latest
    container_name: fullstack
    volumes:
      - ./app:/var/www/html
    ports:
      - "8080:80"
    working_dir: /var/www/html
    env_file:
      - .env
    command: bash -c "\
      apt-get update && apt-get install -y libpq-dev && \
      docker-php-ext-install pdo pdo_pgsql && \
      php -S 0.0.0.0:80 -t /var/www/html"

  db:
    image: postgres:16
    container_name: pg_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
