version: '3.9'

services:
  php:
    build: ./php
    container_name: php_app
    volumes:
      - ./app:/var/www/html
    working_dir: /var/www/html
    env_file:
      - .env

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"  # Публічний порт для хостингу
    volumes:
      - ./app:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
